<!DOCTYPE html>
<html lang="en">
<head>
    <title>Summarizer</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
    <div class="nav">

        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Analyze</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <h1 class="heading">Summarization Simplified</h1>
    <div class="heading__container">
        <a href="#" class="btn">> Summary!</a>
    </div>


    <form class="form">
        <h2>Your Text:</h2>
        <textarea type="text" id="rawtext" placeholder="Enter your text here"></textarea>
        <button type="submit">Summary</button>
        <button type="reset">Clear</button>
    </form>
</body>
</html>



