*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:grey;
}

.heading{
    text-align: center;
    color:whitesmoke;
    font-size: 60px;
    margin:20px;
}

.heading__container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:50px;
}
.btn{
    background-color:skyblue;
    color:white;
    padding:20px;
    font-size:20px;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px black;
}

.nav{
    background-color: black;
    color:white;
}

.nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li{
    display: inline;
    padding:20px;
    font-size: 30px;
    justify-content: space-evenly;
    text-align: center;
}
.nav ul li a{
    color:white;
    text-decoration: none;
}
.form{
text-align:center;
    margin:auto;
}
#rawtext{
    display: block;
    height:50vh;
    width:70vw;
    margin:auto;
    padding:10px;
    font-size: 20px;
    outline: red;
    border: 1px solid #ff341e;
}

h2{
    margin:10px;
    color:white;
    font-size: 40px;
    text-align: justify;
    margin-left:100px;
}
button{
    margin:5px;
    padding:10px;
    border-radius:5px;
}